<connectionStrings>
  <add name="TestDB" connectionString="Server=tcp:kevinstestdb.database.windows.net,1433;Initial Catalog=TestDB;Persist Security Info=False;User ID=kevin;Password=Bulls-1992;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
</connectionStrings>